<section>
  <h3 style="text-align: center;"><%= @title %></h3>
</section>

<section>
  <%= form_for @datum do |f| %>
    <div class="row">
      <div class="medium-2 columns"><%= f.label 'Date' %></div>
      <div class="medium-8 pull-2 columns">
        <%= f.text_field :date, value: @datum.date.strftime("%Y-%m-%d"), class: "medium-8 columns" %>
      </div>
    </div>

    <div class="row">
      <div class="medium-2 columns"><%= f.label 'Data' %></div>
      <div class="medium-8 pull-2 columns">
        <%= f.text_field :data, value: @datum.data.to_json %>
      </div>
    </div>

    <div class="row">
      <div class="medium-2 columns"><%= f.label 'Value' %></div>
      <div class="medium-8 pull-2 columns">
        <%= f.text_field :value, value: @datum.value %>
      </div>
    </div>

    <div class="row">
      <div class="medium-2 columns"><%= f.label 'Public?', class: "no-top-padding" %></div>
      <div class="medium-8 pull-2 columns">
        <div class="switch small round">
          <%= f.check_box :is_public %>
          <label for="datum_is_public"></label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="medium-2 columns"><%= f.label 'Tags' %></div>
      <div class="medium-8 pull-2 columns">
        <%= f.text_field :tags, placeholder: '#foo #bar', value: @datum.tags %>
      </div>
    </div>

    <div class="row">
      <div class="small-4 small-centered medium-2 medium-centered columns">
        <%= f.submit "Save", class: "button round small" %>
      </div>
    </div>
  <% end %>
</section>
